#reservations {
  top: 29vh;
  right: 14vw;
  position: fixed;
}

#reviews {
  top: 35vh;
  left: 14vw;
  position: fixed;
}

/* #carousel {
  top: 5vh;
  position: fixed;
} */

/* #reservations {
  float: right;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  margin-top: 240px;
  z-index: 1;
} */